<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EXP_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,30}</string>
                <key>spriteSourceSize</key>
                <string>{234,30}</string>
                <key>textureRect</key>
                <string>{{1259,0},{234,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>EXP_kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,42}</string>
                <key>spriteSourceSize</key>
                <string>{246,42}</string>
                <key>textureRect</key>
                <string>{{929,278},{246,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EXPtiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,30}</string>
                <key>spriteSourceSize</key>
                <string>{234,30}</string>
                <key>textureRect</key>
                <string>{{1294,392},{234,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{1175,252},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,96}</string>
                <key>textureRect</key>
                <string>{{274,342},{320,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_huang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,96}</string>
                <key>textureRect</key>
                <string>{{594,342},{320,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,72}</string>
                <key>spriteSourceSize</key>
                <string>{248,72}</string>
                <key>textureRect</key>
                <string>{{274,438},{248,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{770,438},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_jin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,72}</string>
                <key>spriteSourceSize</key>
                <string>{248,72}</string>
                <key>textureRect</key>
                <string>{{522,438},{248,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,96}</string>
                <key>spriteSourceSize</key>
                <string>{320,96}</string>
                <key>textureRect</key>
                <string>{{914,328},{320,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daohang_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,78}</string>
                <key>spriteSourceSize</key>
                <string>{278,78}</string>
                <key>textureRect</key>
                <string>{{929,0},{278,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daohang_duiwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,142}</string>
                <key>spriteSourceSize</key>
                <string>{68,142}</string>
                <key>textureRect</key>
                <string>{{206,342},{68,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daohang_renwu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,116}</string>
                <key>spriteSourceSize</key>
                <string>{72,116}</string>
                <key>textureRect</key>
                <string>{{134,378},{72,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duiwu_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{1007,0},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duiwu_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,328}</string>
                <key>spriteSourceSize</key>
                <string>{276,328}</string>
                <key>textureRect</key>
                <string>{{653,0},{276,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongshuijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,84}</string>
                <key>spriteSourceSize</key>
                <string>{263,84}</string>
                <key>textureRect</key>
                <string>{{1114,424},{263,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1234,318},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{51,30}</string>
                <key>textureRect</key>
                <string>{{1234,372},{51,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fangyu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{1264,372},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gongji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{173,342},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hbs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{131,342},{36,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{206,484},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xueliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{233,484},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,66}</string>
                <key>spriteSourceSize</key>
                <string>{272,66}</string>
                <key>textureRect</key>
                <string>{{842,438},{272,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{0,378},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,174}</string>
                <key>spriteSourceSize</key>
                <string>{342,174}</string>
                <key>textureRect</key>
                <string>{{131,0},{342,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xingxing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,174}</string>
                <key>spriteSourceSize</key>
                <string>{342,174}</string>
                <key>textureRect</key>
                <string>{{305,0},{342,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xingxing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,174}</string>
                <key>spriteSourceSize</key>
                <string>{342,174}</string>
                <key>textureRect</key>
                <string>{{479,0},{342,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xinxi_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,131}</string>
                <key>spriteSourceSize</key>
                <string>{378,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{378,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhandou_di1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,240}</string>
                <key>spriteSourceSize</key>
                <string>{196,240}</string>
                <key>textureRect</key>
                <string>{{1294,0},{196,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhandou_di2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,240}</string>
                <key>spriteSourceSize</key>
                <string>{196,240}</string>
                <key>textureRect</key>
                <string>{{1294,196},{196,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1534,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c6213cb719bd7bae073b43325956d32:fe2e3d584bbf1f7216c5f9e8a7e4461a:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
