<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cleric02_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{107,1},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{354,1},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{711,1},{41,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{43,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{666,1},{43,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{464,1},{49,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{158,1},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{54,1},{51,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{51,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{411,1},{51,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{47,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{617,1},{47,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{209,1},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{515,1},{49,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{566,1},{49,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{258,1},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric02_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{45,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{307,1},{45,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cleric.png</string>
            <key>size</key>
            <string>{753,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c6c85b954004761d6c05c90f3422c35:7d60241404f8ab41a2f1a775bfc790cb:4933389a1981692bafc2d80220d86e1d$</string>
            <key>textureFileName</key>
            <string>cleric.png</string>
        </dict>
    </dict>
</plist>
