<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cleric_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-14}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-13}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{63,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-14}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{63,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-14}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-13}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-14}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,42},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleric_move_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{109,75}</string>
                <key>textureRect</key>
                <string>{{50,59},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,19}</string>
                <key>spriteSize</key>
                <string>{73,38}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{73,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{47,76}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-30}</string>
                <key>spriteSize</key>
                <string>{39,16}</string>
                <key>spriteSourceSize</key>
                <string>{113,76}</string>
                <key>textureRect</key>
                <string>{{50,1},{39,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xinz.png</string>
            <key>size</key>
            <string>{75,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e1628f1446e0b3b2b8da037c6dd17f:7677c20b2340d6028db44857ee54e3a1:794895e788cfa84cfe6509a5670521bf$</string>
            <key>textureFileName</key>
            <string>xinz.png</string>
        </dict>
    </dict>
</plist>
