<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP_H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,26}</string>
                <key>spriteSourceSize</key>
                <string>{258,26}</string>
                <key>textureRect</key>
                <string>{{546,207},{258,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,34}</string>
                <key>spriteSourceSize</key>
                <string>{266,34}</string>
                <key>textureRect</key>
                <string>{{806,205},{266,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,26}</string>
                <key>spriteSourceSize</key>
                <string>{258,26}</string>
                <key>textureRect</key>
                <string>{{1074,205},{258,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,26}</string>
                <key>spriteSourceSize</key>
                <string>{258,26}</string>
                <key>textureRect</key>
                <string>{{252,213},{258,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{657,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anniu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{183,1},{166,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{275,1},{166,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{367,1},{166,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anniu_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{459,1},{166,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bb_zd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1473,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{252,169},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_tu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,180}</string>
                <key>spriteSourceSize</key>
                <string>{234,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconEvade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1436,189},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Critical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{392,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_HP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{506,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{468,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_agile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{316,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{354,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_defense.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{430,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tenacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{544,169},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suodijng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{551,107},{12,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{284,169},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xin_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,96}</string>
                <key>spriteSourceSize</key>
                <string>{750,96}</string>
                <key>textureRect</key>
                <string>{{582,107},{750,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinx_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{183,169},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinx_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{551,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinx_zl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{512,207},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1522,79},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1551,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1522,157},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1629,1},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1600,79},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1600,157},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb_xuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1436,103},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{759,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_dh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48.5,43.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{316,207},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{861,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{963,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1065,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1167,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1269,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1334,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhu_di08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1371,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yxUI.png</string>
            <key>size</key>
            <string>{1706,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ae9452a65f8d805ba2be23e9b483d1:726e261184981fa2959e34f14ad184d2:b4d66b98207851c3847b10a375a7c4a2$</string>
            <key>textureFileName</key>
            <string>yxUI.png</string>
        </dict>
    </dict>
</plist>
